/* line 2, ../sass/_reset.sass */
html body.admin-menu {
  margin-top: 10px !important;
}

/* line 4, ../sass/_reset.sass */
#page, .region-bottom {
  margin-left: auto;
  margin-right: auto;
  max-width: none;
  overflow: hidden;
}

/* line 9, ../sass/_reset.sass */
#header, #content, #navigation, .region-sidebar-first, .region-sidebar-second, #footer {
  padding-left: 0px;
  padding-right: 0px;
}

/* line 12, ../sass/_reset.sass */
#main {
  padding-top: 0;
  position: relative;
  max-width: 1280px;
  margin: 0 auto;
}

/* line 17, ../sass/_reset.sass */
#admin-menu {
  display: none;
}

/* line 1, ../sass/elements/_header.sass */
#header {
  background: #000;
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 10px;
  left: 0px;
  width: 100%;
  height: auto;
  z-index: 2;
  min-height: 54px;
}
@media (max-width: 767px) {
  /* line 1, ../sass/elements/_header.sass */
  #header {
    min-height: 50px;
  }
}
/* line 13, ../sass/elements/_header.sass */
.front #header {
  background-color: #294754;
  background-color: rgba(41, 71, 84, 0.75);
}
/* line 16, ../sass/elements/_header.sass */
#header::after {
  clear: both;
  content: ".";
  display: block;
  height: 0;
  visibility: hidden;
}
@media (min-width: 1280px) {
  /* line 1, ../sass/elements/_header.sass */
  #header {
    background-image: url("i/logo-left-54.png");
    background-repeat: no-repeat;
    background-position: center top;
  }
}
/* line 22, ../sass/elements/_header.sass */
#header .header-inner {
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
}
/* line 27, ../sass/elements/_header.sass */
#header #logo-outer {
  background: transparent url("i/logo-bg.png") no-repeat right top;
  min-width: 318px;
  min-height: 54px;
  float: left;
  text-align: center;
  position: absolute;
  left: 0;
  top: 0;
}
@media (max-width: 767px) {
  /* line 27, ../sass/elements/_header.sass */
  #header #logo-outer {
    min-height: 50px;
  }
}
/* line 38, ../sass/elements/_header.sass */
#header #logo-outer a#logo {
  display: inline-block;
  float: none;
}
/* line 41, ../sass/elements/_header.sass */
#header #logo-outer a#logo img {
  display: inline-block;
}
/* line 44, ../sass/elements/_header.sass */
#header .region-header {
  clear: none;
}
@media (max-width: 767px) {
  /* line 44, ../sass/elements/_header.sass */
  #header .region-header {
    float: none;
    clear: both;
  }
}
@media (min-width: 768px) and (max-width: 1279px) {
  /* line 44, ../sass/elements/_header.sass */
  #header .region-header {
    float: none;
    clear: both;
  }
}
/* line 53, ../sass/elements/_header.sass */
#header #block-system-main-menu {
  margin: 0;
}
/* line 56, ../sass/elements/_header.sass */
#header #block-system-main-menu .responsive-menus > ul#rm-no-id {
  margin: 16px 30px 10px 0;
  padding: 0;
}
/* line 59, ../sass/elements/_header.sass */
#header #block-system-main-menu .responsive-menus > ul#rm-no-id span {
  line-height: 20px;
  padding: 0 0 0 11px;
  margin: 0 0 8px;
}
/* line 65, ../sass/elements/_header.sass */
#header #block-system-main-menu .responsive-menus.npx-expanded .responsive-menus > ul#rm-no-id {
  margin: 16px 30px 19px 0;
}
@media (max-width: 767px) {
  /* line 69, ../sass/elements/_header.sass */
  #header #block-system-main-menu .responsive-menus > ul#rm-no-id {
    margin: 16px 30px 10px 0;
    padding: 0;
  }
  /* line 72, ../sass/elements/_header.sass */
  #header #block-system-main-menu .responsive-menus > ul#rm-no-id span {
    line-height: 20px;
    padding: 0 0 0 0;
    margin: 0 0 8px;
  }
  /* line 78, ../sass/elements/_header.sass */
  #header #block-system-main-menu .responsive-menus.npx-expanded .responsive-menus > ul#rm-no-id {
    margin: 16px 30px 19px 0;
  }
  /* line 80, ../sass/elements/_header.sass */
  #header #block-system-main-menu .responsive-menus.npx-expanded .responsive-menus > ul#rm-no-id span {
    padding: 0 0 0 11px;
  }
}
/* line 82, ../sass/elements/_header.sass */
#header .responsive-menus {
  float: right;
}
/* line 84, ../sass/elements/_header.sass */
#header .responsive-menus > ul#rm-no-id {
  padding: 0;
  margin: 16px 30px 19px 0px;
  list-style-type: none;
  list-style-image: none;
  visibility: visible;
  text-transform: uppercase;
}
/* line 91, ../sass/elements/_header.sass */
#header .responsive-menus > ul#rm-no-id::after {
  clear: both;
  content: ".";
  display: block;
  height: 0;
  visibility: hidden;
}
/* line 93, ../sass/elements/_header.sass */
#header .responsive-menus > ul#rm-no-id li {
  padding: 0;
  margin: 0 0 0 0;
  list-style-type: none;
  list-style-image: none;
  display: block;
}
/* line 99, ../sass/elements/_header.sass */
#header .responsive-menus > ul#rm-no-id > li {
  display: block;
  float: left;
  margin-right: 10px;
}
/* line 103, ../sass/elements/_header.sass */
#header .responsive-menus > ul#rm-no-id > li span {
  font-family: "Open Sans";
  font-weight: 700;
  display: block;
  color: #fff;
  padding: 0 0 0 11px;
  line-height: 20px;
  margin: 0 0 8px;
  cursor: pointer;
}
/* line 112, ../sass/elements/_header.sass */
#header .responsive-menus > ul#rm-no-id ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
  list-style-image: none;
  height: 0px;
  overflow: hidden;
}
/* line 119, ../sass/elements/_header.sass */
#header .responsive-menus > ul#rm-no-id ul.npx-expanded {
  height: auto;
  overflow: visible;
}
/* line 122, ../sass/elements/_header.sass */
#header .responsive-menus a {
  color: #fff;
  text-decoration: none;
  display: inline-block;
  padding: 0 0 0 11px;
  line-height: 20px;
}
/* line 128, ../sass/elements/_header.sass */
#header .responsive-menus a.is-active-trail {
  font-family: "Open Sans";
  font-weight: 700;
  background: transparent url("i/menu-pointer.png") no-repeat left center;
}
/* line 133, ../sass/elements/_header.sass */
#header .responsive-menus.responsified span.toggler {
  background: transparent url("i/menu-toggle.png") no-repeat 0 0;
  border-radius: 0;
  box-shadow: none;
  cursor: pointer;
  display: block;
  outline: medium none;
  padding: 0;
  text-align: center;
  width: 59px;
  height: 50px;
  margin: 4px 0 0 0;
  position: relative;
  text-indent: -9990px;
  overflow: hidden;
  border: none;
  float: right;
}
@media (max-width: 767px) {
  /* line 133, ../sass/elements/_header.sass */
  #header .responsive-menus.responsified span.toggler {
    margin: 0 0 0 0;
  }
}
/* line 152, ../sass/elements/_header.sass */
#header .responsive-menus.responsified .responsive-menus-simple {
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  box-shadow: none;
  background: #000;
  background: rgba(0, 0, 0, 0.5);
  clear: both;
}
/* line 159, ../sass/elements/_header.sass */
#header .responsive-menus.responsified .responsive-menus-simple span.nolink {
  display: none;
}
/* line 161, ../sass/elements/_header.sass */
#header .responsive-menus.responsified .responsive-menus-simple a {
  display: block;
  text-decoration: none;
  border-bottom: rgba(255, 255, 255, 0.1) 1px solid;
  line-height: 200%;
  padding: 5px 5px 5px 20px;
  background-position: 5px center;
}

/* line 168, ../sass/elements/_header.sass */
.front #header .responsive-menus.responsified .responsive-menus-simple {
  background-color: #294754;
  background-color: rgba(41, 71, 84, 0.75);
}

/* line 1, ../sass/elements/_footer.sass */
#footer {
  padding: 95px 0 100px;
  background: #ebedee;
  color: #b2b2b2;
}
@media (min-width: 768px) and (max-width: 1279px) {
  /* line 1, ../sass/elements/_footer.sass */
  #footer {
    padding: 85px 0 90px;
  }
}
@media (max-width: 767px) {
  /* line 1, ../sass/elements/_footer.sass */
  #footer {
    padding: 45px 0 50px;
  }
}
/* line 9, ../sass/elements/_footer.sass */
#footer a {
  color: #b2b2b2;
  text-decoration: none;
}
/* line 12, ../sass/elements/_footer.sass */
#footer #block-menu-menu-footer-menu {
  max-width: 1280px;
  margin: 0 auto;
}
/* line 15, ../sass/elements/_footer.sass */
#footer #block-menu-menu-footer-menu ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
  list-style-image: none;
  visibility: visible;
  text-transform: uppercase;
  text-align: center;
}
/* line 23, ../sass/elements/_footer.sass */
#footer #block-menu-menu-footer-menu ul::after {
  clear: both;
  content: ".";
  display: block;
  height: 0;
  visibility: hidden;
}
/* line 25, ../sass/elements/_footer.sass */
#footer #block-menu-menu-footer-menu ul li {
  padding: 0;
  margin: 0 0 0 0;
  list-style-type: none;
  list-style-image: none;
  display: block;
}
/* line 31, ../sass/elements/_footer.sass */
#footer #block-menu-menu-footer-menu ul li ul {
  text-align: left;
}
/* line 33, ../sass/elements/_footer.sass */
#footer #block-menu-menu-footer-menu ul li ul li {
  line-height: 17px;
  margin-bottom: 5px;
}
/* line 36, ../sass/elements/_footer.sass */
#footer #block-menu-menu-footer-menu ul li.column {
  display: inline-block;
  vertical-align: top;
  text-align: left;
  margin: 0 45px;
}
/* line 41, ../sass/elements/_footer.sass */
#footer #block-menu-menu-footer-menu ul li.column > a, #footer #block-menu-menu-footer-menu ul li.column > span {
  font-weight: 700;
  border-bottom: 1px solid #b2b2b2;
  display: inline-block;
  padding-bottom: 6px;
  margin-bottom: 12px;
}
@media (max-width: 767px) {
  /* line 36, ../sass/elements/_footer.sass */
  #footer #block-menu-menu-footer-menu ul li.column {
    display: block;
    text-align: center;
  }
  /* line 50, ../sass/elements/_footer.sass */
  #footer #block-menu-menu-footer-menu ul li.column ul {
    display: none;
  }
}
/* line 53, ../sass/elements/_footer.sass */
#footer #block-menu-menu-footer-menu ul li.column.social ul {
  display: block;
}
@media (max-width: 767px) {
  /* line 53, ../sass/elements/_footer.sass */
  #footer #block-menu-menu-footer-menu ul li.column.social ul {
    text-align: center;
  }
}
/* line 57, ../sass/elements/_footer.sass */
#footer #block-menu-menu-footer-menu ul li.column.social ul li {
  display: inline-block;
  text-indent: -9990px;
  width: 25px;
  height: 25px;
  margin-right: 5px;
}
/* line 63, ../sass/elements/_footer.sass */
#footer #block-menu-menu-footer-menu ul li.column.social ul li a {
  display: block;
  text-indent: -9990px;
  width: 25px;
  height: 25px;
}
/* line 69, ../sass/elements/_footer.sass */
#footer #block-menu-menu-footer-menu ul li.column.social ul li.instagram a {
  background: transparent url("i/social-icons.png") no-repeat 0 0;
}
/* line 72, ../sass/elements/_footer.sass */
#footer #block-menu-menu-footer-menu ul li.column.social ul li.linkedin a {
  background: transparent url("i/social-icons.png") no-repeat -25px 0;
}
/* line 75, ../sass/elements/_footer.sass */
#footer #block-menu-menu-footer-menu ul li.column.social ul li.twitter a {
  background: transparent url("i/social-icons.png") no-repeat -50px 0;
}

/* line 2, ../sass/_temp.sass */
#admin-menu #admin-menu-account::before {
  color: yellow;
  font-weight: bold;
}
@media (min-width: 1280px) {
  /* line 2, ../sass/_temp.sass */
  #admin-menu #admin-menu-account::before {
    content: " desktop ";
  }
}
@media (min-width: 768px) and (max-width: 1279px) {
  /* line 2, ../sass/_temp.sass */
  #admin-menu #admin-menu-account::before {
    content: " tablet ";
  }
}
@media (max-width: 767px) {
  /* line 2, ../sass/_temp.sass */
  #admin-menu #admin-menu-account::before {
    content: " mobile ";
  }
}
/* line 11, ../sass/_temp.sass */
#admin-menu .tabs-primary__tab,
#admin-menu .tabs-primary__tab.is-active {
  text-shadow: none;
  padding: 0 5px;
  margin: 0;
  border: none;
}

/* line 14, ../sass/sig.sass */
body {
  color: #000;
  background: #fff;
  font-size: 12px;
  line-height: 200%;
  overflow-y: scroll;
}
@media (max-width: 767px) {
  /* line 14, ../sass/sig.sass */
  body {
    line-height: 17px;
  }
}
