.page-case-download
  .paragraphs-item-image-standard
    display: none
  .sig-thanks
    margin-bottom: 50px
    @include breakpoint($m)
      margin-bottom: 25px

.page-node-8
  .entity-paragraphs-item.paragraphs-item-image
    img
      display: inline-block
      max-height: 125px !important
      @include breakpoint($t)
        max-height: 125px !important
      @include breakpoint($m)
        max-height: 70px !important

#block-block-1
  max-width: 1060px
  margin: 0 auto
  position: relative
  img
    display: block
  // svg
  //   margin: -11% 10% 0
  // @include breakpoint($m)
  //   margin-left: -7%
  //   margin-right: -7%
#england, #france, #netherlands, #belgium, #switserland, #poland, #austria, #hungary, #romania, #bulgaria, #turkey, #germany
<<<<<<< HEAD
  fill: #90B6CB
#england:hover, #france:hover, #netherlands:hover, #belgium:hover, #switserland:hover, #poland:hover, #austria:hover, #hungary:hover, #romania:hover, #bulgaria:hover, #turkey:hover, #germany:hover
  fill: #294754
=======
  fill: #005580
#england:hover, #france:hover, #netherlands:hover, #belgium:hover, #switserland:hover, #poland:hover, #austria:hover, #hungary:hover, #romania:hover, #bulgaria:hover, #turkey:hover, #germany:hover
  opacity: 0.5
>>>>>>> master

.page-node-5
  .paragraphs-item-block-i-t-b-x3
    .field-type-text
      @include breakpoint($m)
        text-align: center
