.entity-paragraphs-item
  @include paragraph-center
  margin-top: 70px
  @include breakpoint($t)
    margin-top: 60px
  @include breakpoint($m)
    margin-top: 40px
  &:nth-child(1)
    margin-top: 100px
    @include breakpoint($t)
      margin-top: 90px
    @include breakpoint($m)
      margin-top: 50px
.front .entity-paragraphs-item.paragraphs-item-quote
  margin-bottom: 100px
  @include breakpoint($t)
    margin-bottom: 90px
  @include breakpoint($m)
    margin-bottom: 50px
  .field-item
    p:before
      content: "\201E"
    p:after
      content: "\201C"

.entity-paragraphs-item.paragraphs-item-image
  margin-top: 25px
  @include breakpoint($t)
    margin-top: 15px
  @include breakpoint($m)
    margin-top: 10px
  &:nth-child(1)
    margin-top: 70px
    @include breakpoint($t)
      margin-top: 60px
    @include breakpoint($m)
      margin-top: 40px
  img
    display: block

// QUOTES
.paragraphs-item-quote
  color: $Kolor2
  text-align: center
  text-transform: uppercase
  @include breakpoint($d)
    font-size: 25px
    line-height: 32px
  @include breakpoint($t)
    font-size: 25px
    line-height: 32px
  @include breakpoint($m)
    font-size: 14px
    line-height: 16px
  p
    margin: 0
    &:before
      content: "\201E"
    &:after
      content: "\201C"

// VIDEO
.paragraphs-item-intro-video
  .player
    width: 100%
    height: 1px
    padding: 25% 0
    position: relative
  iframe
    width: 100% !important
    position: absolute
    height: 100% !important
    left: 0
    top: 0
  iframe
    width: 88% !important
    position: absolute
    height: 100% !important
    left: 6%
    top: 0
// SLOGAN
.entity-paragraphs-item.paragraphs-item-slogan-block
  @include paragraph-reset
  .field-name-field-body
    margin-top: 70px
    max-width: 1280px
    margin-left: auto
    margin-right: auto
    @include breakpoint($t)
      margin-top: 60px
    @include breakpoint($m)
      margin-top: 20px
    .field-item
      padding: 0 25%
      @include breakpoint($t)
        padding: 0 10%
      @include breakpoint($m)
        padding: 0 5%
    p:last-child
      margin: 0
  .slogan-box
    position: relative
    overflow: hidden
    height: 335px
    width: 100%
    margin-top: 70px
    @include breakpoint($t)
      margin-top: 60px
      height: 315px
    @include breakpoint($m)
      margin-top: 40px
      height: 210px
    .slogan-image-bg
      position: absolute
      z-index: 1
      left: 0
      top: 0
      width: 100%
      height: 100%
      background-repeat: no-repeat
      background-position: center center
      background-size: cover
    .field-name-field-slogans.color-bg
      position: relative
      z-index: 2
      width: 50%
      height: 335px
      background: transparent url('i/slogan-d-100b.png') no-repeat right center
      @include breakpoint($t)
        height: 315px
      @include breakpoint($m)
        height: 210px
        width: 100%
        background-position: left center
    .field-name-field-slogans.text
      position: relative
      margin-top: -335px
      z-index: 3
      height: 335px
      font-weight: 300
      font-size: 27px
      line-height: 31px
      color: #fff
      text-transform: uppercase

      margin-left:  auto
      margin-right: auto
      max-width: 1280px
      @include breakpoint($d)
        padding-left: 5%
        padding-right: 5%
      @include breakpoint($t)
        padding-left: 8%
        padding-right: 8%
      @include breakpoint($m)
        padding-left: 8%
        padding-right: 8%

      @include breakpoint($t)
        height: 315px
        margin-top: -315px

      @include breakpoint($m)
        height: 210px
        margin-top: -210px
        font-size: 21px
        line-height: 27px

      .field-items
        padding: 100px 0 0 0px
        @include breakpoint($t)
          padding: 90px 0 0 0px
        @include breakpoint($m)
          padding: 50px 0 0 0px
.entity-paragraphs-item.paragraphs-item-slogan-block .slogan-box .field-name-field-slogans.color-bg
  width: 0%
.entity-paragraphs-item.paragraphs-item-slogan-block .slogan-box .field-name-field-slogans.text
  display: none


// LINK
.paragraphs-item-link
  text-transform: uppercase
  @include breakpoint($t)
    margin: 60px 0 0 0
  @include breakpoint($m)
    margin: 40px 0 0 0
  .field-name-field-link
    text-align: center
    .field-item
      display: inline-block
      position: relative
      padding: 0
      margin: 0
      overflow: hidden
      z-index: 1
      @include link-style-with-span
      a
        line-height: 20px
        padding: 5px 47px
        &:before
          content: "> "
          display: inline-block
          margin-right: 4px
      span.spanL,
      span.spanR
        display: block
        position: absolute
        z-index: 10
        left: 0
        top: 0
        width: 100%
        height: 100%
        pointer-events: none
      span.spanL
        background: transparent url('i/slantL.png') no-repeat left bottom
      span.spanR
        background: transparent url('i/slantR.png') no-repeat right top


// paragraphs-item-case-download-link
.paragraphs-item-case-download-link
  text-transform: uppercase
  @include breakpoint($t)
    margin: 60px 0 0 0
  @include breakpoint($m)
    margin: 40px 0 0 0
  .field-name-field-case-download-link
    text-align: center
    .field-item
      @include link-style


// paragraphs-item-intro-text
.paragraphs-item-intro-text
  .field-name-field-intro-text
    padding: 0 20% 0 20%
    @include breakpoint($t)
      padding: 0 0 0 0
    @include breakpoint($m)
      padding: 0 0 0 0
// paragraphs-item-block-i-t-b-x3
.paragraphs-item-block-i-t-b-x3
  @include mode-3cols
  .gl
    @include breakpoint($t)
      float: left
      width: 40%
      padding: 0 3% 0 0
      +box-sizing(border-box)
      div
        max-width: 100%
  .gr
    @include breakpoint($t)
      float: left
      width: 60%
      padding: 0
      +box-sizing(border-box)
  .field-type-text
    @include blockTitle
    margin-top: 25px
    font-size: 21px
    letter-spacing: 1px
    @include breakpoint($t)
      margin-top: 0
    @include breakpoint($m)
      font-size: 16px
  .field-type-image
    @include breakpoint($t)
      float: left
      margin: 0 30px 0 0

// paragraphs-item-block-b-x3 - FACTS ???
.paragraphs-item-block-b-x3
  text-align: center
  font-size: 16px
  line-height: 22px
  color: $KolorMain
  strong
    font-size: 40px
    line-height: 55px
    font-weight: normal
  @include mode-3cols-30-5-30-5-30
  @include breakpoint($m)
    .group-left,
    .group-middle,
    .group-right
      .field
        display: inline-block
  &.sig-counter-animation-processed
    line-height: 100%
@include breakpoint($m)
  .field-item > .paragraphs-item-block-b-x3.entity-paragraphs-item
    margin-top: 20px
    p
      margin: 0
    .group-middle,
    .group-right
      margin-top: 20px
// paragraphs-item-block-t-b-x3
.paragraphs-item-block-t-b-x3
  @include mode-3cols-30-5-30-5-30
  .field-name-field-title-1,
  .field-name-field-title-2,
  .field-name-field-title-3
    @include blockTitle
    font-weight: bold



// paragraphs-item-block-t-b-x4
.paragraphs-item-block-t-b-x4
  &.ds-4col
    > .group-first,
    > .group-second,
    > .group-third,
    > .group-fourth
      width: 25%
      +box-sizing(border-box)
      float: left
      padding: 0 10px
    @include breakpoint($t)
      > .group-first,
      > .group-second,
      > .group-third,
      > .group-fourth
        width: 50%
      > .group-third
        clear: left
    @include breakpoint($m)
      > .group-first,
      > .group-second,
      > .group-third,
      > .group-fourth
        width: 100%
        clear: both
    .field-name-field-title-1,
    .field-name-field-title-2,
    .field-name-field-title-3,
    .field-name-field-title-4
      @include blockTitle
  .field-type-text-long
    p
      margin: 0
//  paragraphs-item-images-x2
.paragraphs-item-images-x2
  &.ds-2col
    > .group-left
      float: left
      width: 50%
      +box-sizing(border-box)
      padding: 0 5px
    > .group-right
      float: left
      width: 50%
      +box-sizing(border-box)
      padding: 0 5px
    img
      display: block
    @include breakpoint($m)
      > .group-left,
      > .group-right
        float: none
        width: 100%
        padding: 0 0px
      > .group-left
        padding: 0 0 20px
// paragraphs-item-images-x3
.paragraphs-item-images-x3
  @include mode-3cols

// paragraphs-item-block-t-b-x2
.paragraphs-item-block-t-b-x2
  @include mode-2cols
  .field-name-field-title-1,
  .field-name-field-title-2
    @include blockTitle

// paragraphs-item-image-standard
.paragraphs-item-image-standard
  @include breakpoint($m)
    display: none

// SVG MAP
.paragraphs-item-svg-map.ds-3col-equal
  > .group-left
    float: left
    width: 15%
    h2
      line-height: 130%
    @include breakpoint($t)
      float: none
      width: 100%
      padding: 0 0 40px
    @include breakpoint($m)
      float: none
      width: 100%
      padding: 0 0 40px
  > .group-middle
    width: 60%
    float: left
    padding-left: 40px
    +box-sizing(border-box)
    @include breakpoint($t)
      float: none
      width: 100%
      padding: 0 0 40px
    @include breakpoint($m)
      float: none
      width: 100%
      padding: 0 0 40px
  > .group-right
    color: $Kolor2
    text-align: center
    text-transform: uppercase
    padding-top: 160px
    @include breakpoint($d)
      font-size: 25px
      line-height: 32px
    @include breakpoint($t)
      font-size: 25px
      line-height: 32px
      float: none
      width: 100%
      padding: 0 0 40px
    @include breakpoint($m)
      font-size: 14px
      line-height: 16px
      float: none
      width: 100%
      padding: 0 0 40px
    p
      margin: 0
      &:before
        content: "\201E"
      &:after
        content: "\201C"
